@page "/DeleteEmployee/{Id}"

@using EmployeeWebServer.Data
@inject EmployeeService employeeService
@inject NavigationManager NavigationManager
@using MudBlazor;
@using MudBlazor.Services;
@using MudBlazor.Dialog
@inject IDialogService DialogService

@inject ISnackbar Snackbar

<style>
    .NavBar {
        background-color: #006680;
    }

    .SideBar {
        background-color: #008fb3;
        color: white;
    }
</style>

<MudLayout>
    <MudAppBar Elevation="1" Class="NavBar">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudInputLabel>Delete Employee</MudInputLabel>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Home" Href="/" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Elevation="1" Class="SideBar">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Delete Employee</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Href="/">Home</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/Employees">List Of Employee</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/driver-schedule">Driver's Schedule</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/salesman-schedule">Salesman Schedule</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudGrid Style="margin:30px 0px 0px; overflow-y:hidden; overflow-x:hidden;">
            <MudItem xs="2"></MudItem>
            <MudItem xs="8">
                <table class="table table-bordered table-striped mb-0">
                    <thead class="table-header">
                        <tr>
                            <th>Employee No</th>
                            <th>Employee Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj.FullName</td>
                            <td>@obj.Address</td>
                            <td>@obj.Email</td>
                            <td>@obj.PhoneNumber</td>
                            <td>@obj.Designation</td>
                        </tr>
                    </tbody>
                </table>
            </MudItem>
            <MudItem xs="2"></MudItem>
            <MudGrid>
                <div class="button-below">
                    <MudButton @onclick="DeleteEmployeeRecord" Variant="Variant.Filled" Color="Color.Error">Delete Records</MudButton>
                    <input type="button" class="cancel-employee-btn" @onclick="@Cancel" value="Cancel" />
                </div>
            </MudGrid>
        </MudGrid>
    </MudMainContent>
</MudLayout>
