@page "/EditEmployee/{Id}"

@using EmployeeWebServer.Data
@inject EmployeeService employeeService
@inject NavigationManager NavigationManager
@using EmployeeWebServer.Components.Pages
<link href="~/bootstrap/EditEmployeelist.css" rel="stylesheet" />

<MudLayout>
    <MudAppBar Elevation="1" Class="NavBar">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudInputLabel>Edit Employee</MudInputLabel>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Home" Href="/" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Elevation="1" Class="SideBar">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Edit Employee</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Href="/">Home</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/Employees">List Of Employee</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/driver-schedule">Driver's Schedule</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/salesman-schedule">Salesman Schedule</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudGrid Style="margin:30px 0px 0px;">
            <MudGrid Style="margin-bottom:10px;">
                <MudItem xs="2"></MudItem>
                <MudItem xs="2">
                    <label for="FirstName" class="control-label">First Name</label>
                    <input form="FirstName" class="form-control" @bind="@obj.FirstName" />
                </MudItem>
                <MudItem xs="2">
                    <label for="MiddleName" class="control-label">Middle Name</label>
                    <input form="MiddleName" class="form-control" @bind="@obj.MiddleName" />
                </MudItem>
                <MudItem xs="2">
                    <label for="LastName" class="control-label">Last Name</label>
                    <input form="LastName" class="form-control" @bind="@obj.LastName" />
                </MudItem>
                <MudItem xs="2">
                    <label for="PostalCode" class="control-label">Postal Code</label>
                    <input form="PostalCode" class="form-control" @bind="@obj.PostalCode" />
                </MudItem>
                <MudItem xs="2"></MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem xs="2"></MudItem>
                <MudItem xs="2">
                    <label for="Address" class="control-label">Address</label>
                    <input form="Address" class="form-control" @bind="@obj.Address" />
                </MudItem>
                <MudItem xs="2">
                    <label for="Email" class="control-label">Email</label>
                    <input form="Email" class="form-control" @bind="@obj.Email" />
                </MudItem>
                <MudItem xs="2">
                    <label for="PhoneNumber" class="control-label">Phone Number</label>
                    <input form="PhoneNumber" class="form-control" @bind="@obj.PhoneNumber" />
                </MudItem>
                <MudItem xs="2">
                    <label for="Designation" class="control-label">Designation</label>
                    <input form="Designation" class="form-control" @bind="@obj.Designation" />
                </MudItem>
                <MudItem xs="2"></MudItem>
            </MudGrid>
            <MudGrid>
                <div class="button-below">
                    <input type="button" class="edit-employee-btn" @onclick="@UpdateEmployee" value="Update" />
                    <input type="button" class="cancel-edit-employee-btn" @onclick="@Cancel" value="Cancel" />
                </div>
            </MudGrid>
        </MudGrid>

    </MudMainContent>
</MudLayout>